# .NET
OnlyWeathersAPI/bin/
OnlyWeathersAPI/obj/
OnlyWeathersApi/OnlyWeathersApi.Tests/bin/
OnlyWeathersApi/OnlyWeathersApi.Tests/bin/
**/bin/
**/obj/

# Node/Vue
OnlyWeathersGUI/node_modules/
OnlyWeathersGUI/dist/
.vs/

# systemowe
.env
.DS_Store

# Konfiguracje lokalne
appsettings.json