# .NET build
**/bin/
**/obj/

# Visual Studio i Rider
.vs/
**/.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# CodeRush (.cr foldery)
.cr/
**/.cr/

# Node/Vue
OnlyWeathersGUI/node_modules/
OnlyWeathersGUI/dist/

# Systemowe / lokalne
# .env
.DS_Store
Thumbs.db

# Lokalne konfiguracje aplikacji
appsettings.json
